@page
@model DotNetCoreApp.Pages.DarkSideModel
@{
    ViewData["Title"] = "Dark Side" +
                "";

}
<div id="DarkSide">
    <div class="container-fluid">
        <h2>Anakin as Darth Vader</h2>
        <div class="row">
            <div class="col-sm-9">
                <p>
                    After his betrayal at the hands of Emperor Palpatine as Darth Sidious, he became a weapon of evil.  In his mind, the Jedi were responsible for his beloved Padm&eacute;'s death.  Another in a web of lies that would make him the most powerful Sith Lord in centuries, and feared across the cosmos.
                </p>
            </div>
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/dark-anakin.png" />
            </div>
        </div>
    </div>
</div>